VITE_SUPABASE_URL=https://ojdqufzpnfpzgwxxsgrn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qZHF1ZnpwbmZwemd3eHhzZ3JuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1ODY4NjEsImV4cCI6MjA5NjE2Mjg2MX0.KQEqpLXbnvUtMKrAbc5rqIPhyIWjj79xntbIA7kkxHQ

